[Desktop Entry]
Name=KTechLab Document Engine
Comment=A DataEngine for opened KTechLab documents
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_document
X-Plasma-EngineName=ktechlabdocument
X-KDE-PluginInfo-Author=Julian Bäume
X-KDE-PluginInfo-Email=julian@svg4all.de
X-KDE-PluginInfo-Name=ktechlabdocument
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Wesbite=http://www.ktechlab.org
X-KDE-PluginInfo-Category=electronics
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
