[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin handles KTechLab projects
Name=KTechLab Project
GenericName=KTechLab Project
ServiceTypes=KTechLab/Plugin
X-KDE-Library=ktlprojectmanagement
X-KDE-PluginInfo-Name=ktlprojectmanagement
X-KDE-PluginInfo-Author=Julian Bäume
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Version=7
X-KDevelop-Category=Global
X-KDevelop-Mode=NoGUI
X-KDevelop-SupportedMimeTypes=application/x-ktechlab
X-KDevelop-Interfaces=IProjectFileManager