[Desktop Entry]
Encoding=UTF-8
Name=KTechlab
Exec=ktechlab %i %m -caption "%c"
Icon=ktechlab
Type=Application
DocPath=ktechlab/index.html
Comment=An IDE for microcontrollers and electronics
Terminal=false
MimeType=application/x-ktechlab;application/x-flowcode;application/x-circuit;application/x-microbe;
Categories=Qt;KDE;Education;Science;Electronics
