<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="ktechlab" version="0.5">
    <MenuBar>
        <Menu>
            <text context="@title:menu">File</text>
            <DefineGroup name="new_operations" />
            <Action name="new_file" />
            <Action name="newfile_asm" />
            <Action name="newfile_c" />
            <Action name="ktechlab_circuit" />
            <Merge />
        </Menu>
    </MenuBar>    
    <ToolBar name="mainToolBar">
        <text>Main Toolbar</text>
        <Action name="new_file" />
        <Action name="Open" />
        <Action name="Save" />
        <Action name="switch_area" />
        <Seperator />
        <Action name="Undo" />
        <Action name="Redo" />
        <Action name="Cut" />
        <Action name="Copy" />
        <Action name="Paste" />
    </ToolBar>
</gui>
