<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="ktechlab" version="0.5">
    <ToolBar name="mainToolBar">
        <text>Main Toolbar</text>
        <Action name="New" />
        <Action name="Open" />
        <Action name="Save" />
        <Action name="Print" />
        <Seperator />
        <Action name="Undo" />
        <Action name="Redo" />
        <Action name="Cut" />
        <Action name="Copy" />
        <Action name="Paste" />
    </ToolBar>
    <MenuBar>
    </MenuBar>
</gui>
