<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KTechlabCircuit" version="7">
	<MenuBar>
		<Menu name="tools" merge="1">
			<text>&amp;Tools</text>
			<Separator/>
			<Menu name="routing_mode_menu">
				<text>Routing Mode</text>
				<Action name="routing_mode_auto"/>
				<Action name="routing_mode_manual"/>
			</Menu>
			<Action name="edit_mode_manual_route"/>
			<Separator/>
			<Action name="edit_rotate_cw"/>
			<Action name="edit_rotate_ccw"/>
			<Separator/>
			<Action name="edit_flip_horizontally"/>
			<Action name="edit_flip_vertically"/>
		</Menu>
	</MenuBar>
	
	<ToolBar name="toolsToolBar">
		<Separator/>
		<Action name="routing_mode"/>
		<Action name="edit_draw"/>
		<Action name="edit_rotate_ccw"/>
		<Action name="edit_rotate_cw"/>
<!-- 		<Action name="edit_flip_horizontally"/> -->
<!-- 		<Action name="edit_flip_vertically"/> -->
	</ToolBar>
	
	<ToolBar name="itemEditorTB" noMerge="1">
		<text>Item Editor</text>
		<!-- 		<Action name="null_action"/> -->
	</ToolBar>
	
	<Menu name="item_popup">
		<Action name="circuit_create_subcircuit"/>
	</Menu>
</kpartgui>

