[Desktop Entry]
Name=KTechlab
Name[ca]=KTechlab
Name[ca@valencia]=KTechlab
Name[cs]=KTechlab
Name[de]=KTechlab
Name[es]=KTechlab
Name[et]=KTechlab
Name[fr]=KTechlab
Name[gl]=KTechlab
Name[it]=KTechlab
Name[ko]=KTechlab
Name[nl]=KTechlab
Name[pl]=KTechlab
Name[pt]=KTechlab
Name[pt_BR]=KTechlab
Name[ru]=KTechLab
Name[sk]=KTechlab
Name[sv]=Ktechlab
Name[uk]=KTechlab
Name[zh_TW]=KTechlab
#Exec=ktechlab %i -caption %c # 2019.10.03 - does not work; yet?
Exec=ktechlab %u
Icon=ktechlab
Type=Application
X-DocPath=ktechlab/index.html
Comment=An IDE for microcontrollers and electronics
Comment[ca]=Un IDE per a microcontroladors i electrònica
Comment[ca@valencia]=Un IDE per a microcontroladors i electrònica
Comment[de]=Eine Entwicklungsumgebung für Mikrocontroller und Elektronik
Comment[es]=Un IDE para microcontroladores y sistemas electrónicos
Comment[et]=Mikrokontrollerite ja elektroonika arenduskeskkond
Comment[fr]=Un Environnement de Développement Intégré pour les microcontrôleurs et l'électronique
Comment[gl]=Un IDE para microcontroladores e compoñentes electrónicos
Comment[it]=Un IDE per microcontrollori ed elettronica
Comment[ko]=마이크로컨트롤러와 전자 회로 IDE
Comment[nl]=Een IDE (ontwikkelomgeving) voor microcontrollers en elektronica
Comment[pl]=IDE dla mikrokontrolerów i elektroniki
Comment[pt]=Um IDE para micro-controladores e electrónica
Comment[pt_BR]=Uma IDE para microcontroladores e eletrônicos
Comment[sk]=IDE pre mikrokontroléry a elektroniku
Comment[sv]=En integrerad utvecklingsmiljö för mikrokontroller och elektronik
Comment[uk]=Комплексне середовище розробки для мікроконтролерів та електроніки
Terminal=false
MimeType=application/x-ktechlab;application/x-flowcode;application/x-circuit;application/x-microbe;
Categories=Qt;KDE;Education;Science;Electronics;
