[Desktop Entry]
Name=KTechlab
Name[ca]=KTechlab
Name[ca@valencia]=KTechlab
Name[cs]=KTechlab
Name[de]=KTechlab
Name[es]=KTechlab
Name[nl]=KTechlab
Name[pt]=KTechlab
Name[pt_BR]=KTechlab
Name[sk]=KTechlab
Name[sv]=Ktechlab
Name[uk]=KTechlab
Name[x-test]=xxKTechlabxx
Exec=ktechlab %i -caption %c
Icon=ktechlab
Type=Application
X-DocPath=ktechlab/index.html
Comment=An IDE for microcontrollers and electronics
Comment[ca]=Un IDE per a microcontroladors i electrònica
Comment[ca@valencia]=Un IDE per a microcontroladors i electrònica
Comment[de]=Eine Entwicklungsumgebung für Mikrocontroller und Elektronik
Comment[es]=Un IDE para microcontroladores y sistemas electrónicos
Comment[nl]=Een IDE (ontwikkelomgeving) voor microcontrollers en elektronica
Comment[pt]=Um IDE para micro-controladores e electrónica
Comment[pt_BR]=Uma IDE para microcontroladores e eletrônicos
Comment[sk]=IDE pre mikrokontroléry a elektroniku
Comment[sv]=En integrerad utvecklingsmiljö för mikrokontroller och elektronik
Comment[uk]=Комплексне середовище розробки для мікроконтролерів та електроніки
Comment[x-test]=xxAn IDE for microcontrollers and electronicsxx
Terminal=false
MimeType=application/x-ktechlab;application/x-flowcode;application/x-circuit;application/x-microbe;
Categories=Qt;KDE;Education;Science;Electronics;
