[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-circuit
Icon=ktechlab_circuit
Patterns=*.circuit
Comment=KTechlab Circuit
Comment[sv]=Ktechlab Krets
Comment[uk]=Ланцюг KTechlab
Comment[x-test]=xxKTechlab Circuitxx
