[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-flowcode
Icon=ktechlab_flowcode
Patterns=*.flowcode
Comment=KTechlab FlowCode
Comment[sv]=Ktechlab FlowCode
Comment[uk]=FlowCode KTechlab
Comment[x-test]=xxKTechlab FlowCodexx
